{{define "title"}}Certifications{{end}}

{{define "adminpanel"}}
    <h1>Editing Certifications Page</h1>
    <label>Message:</label>
    <form method="POST">
        <label>
            <textarea name="message"></textarea>
        </label><br />
        <input type="submit" value="Submit">
    </form>
{{end}}