{{define "title"}}Contact me{{end}}

{{define "adminpanel"}}
    <h1>Edit Contact Page</h1>
    <form method="POST">
        <label>Email:</label>
        <input type="text" name="email"><br />
        <label>Linkedin Profile:</label>
        <input type="text" name="URL"><br />
        <label>Phone Number:</label>
        <input type="text" name="phone number"></input><br />
        <input type="submit">
    </form>
{{end}}

